<pool type='dir'>
  <name>{{ storage_pool_name }}</name>
  <capacity unit='bytes'>{{ storage_pool_capacity }}</capacity>
  <allocation unit='bytes'>{{ storage_pool_allocation }}</allocation>
  <target>
    <path>{{ storage_pool_path }}</path>
  </target>
</pool>
